#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.decks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;
}

.decks li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 150px;
  background: wheat;
  color: steelblue;
  border-radius: 1em;
  position: relative;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App form {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.decks li button {
  position: absolute;
  font-size: 12px;
  top: 6px;
  right: 5px;
}
