@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply text-light-text-accent
    no-underline 
    font-semibold 
    hover:text-light-text-secondary 
    cursor-pointer 
    dark:text-dark-text-primary;
  }
  .shadow {
    @apply drop-shadow-lg;
  }
  .dark-ring {
    @apply ring-2 
    ring-fuchsia-500 
    ring-opacity-20;
  }
  .light-ring {
    @apply ring-2 
    ring-light-text-accent 
    ring-opacity-20;
  }
  .title {
    @apply text-5xl 
    text-center
    px-12 
    py-6
    border-gray-400
    rounded-xl;
  }
  .decks {
    @apply grid 
    grid-cols-3 
    w-4/5
    mt-14
    mb-14
    mx-auto 
    gap-5
    max-w-4xl;
  }
  .decks li {
    @apply flex
    relative
    justify-center 
    items-center
    w-64 
    h-44 
    bg-light-deck
    dark:bg-dark-deck
    text-light-text-primary
    justify-self-center
    rounded-2xl;
  }
  .decks li button {
    @apply absolute
    text-sm
    top-3
    right-3;
  }
  .App {
    @apply h-full m-auto w-full flex flex-col bg-light-background dark:bg-dark-background min-h-screen;
    margin-top: -48px;
  }
  .myButton {
    @apply h-8 rounded-xl px-6 py-1 font-semibold dark:text-dark-text-primary dark:bg-dark-color bg-light-card light-ring dark:dark-ring cursor-pointer;
  }
  .myForm {
    @apply flex gap-3 items-center justify-center mb-24;
  }
  /* Responsive Styles */
  @media (min-width: 680px) {
    .decks {
      @apply grid-cols-2;
    }
    .decks li {
      @apply w-64;
    }
  }
  @media (min-width: 1020px) {
    .decks {
      @apply grid-cols-3;
    }
  }
  @media (max-width: 680px) {
    .decks {
      @apply grid-cols-1
      w-96;
    }
    .decks li {
      @apply w-96;
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
